Package: td-libvips-dev
Version: %VERSION%%DEB_VERSION%
Maintainer: Tada.team <info@tada.team>
Architecture: all
Section: devel
Description: custom libvips build
Conflicts: libvips-dev
Depends: automake,
 build-essential,
 cmake,
 giflib-tools,
 gobject-introspection,
 gtk-doc-tools,
 libexif-dev,
 libexpat1-dev,
 libgif-dev,
 libgif7,
 libglib2.0-dev,
 libgsf-1-dev,
 libjpeg-dev,
 liblcms2-dev,
 libmagickcore-dev,
 libpng-dev,
 libpoppler-glib-dev,
 libtiff5-dev,
 libtool,
 libwebp-dev,
 libxml2-dev,
 swig


