Source: vips
Section: libs
Priority: optional
Build-Depends: debhelper-compat (= 11), 
 pkg-config, gtk-doc-tools, giflib-tools:native, gobject-introspection:native, bc,
 libexif-dev,
 libexpat1-dev,
 libgif-dev,
 libgif7,
 libglib2.0-dev,
 libgsf-1-dev,
 libjpeg-dev,
 liblcms2-dev,
 libmagickcore-6.q16-dev,
 libpng-dev,
 libpoppler-glib-dev,
 libtiff5-dev,
 libtool,
 libwebp-dev,
 libxml2-dev,
 swig
Maintainer: igo95862 <igo95862@yandex.ru>
Homepage: https://libvips.github.io/libvips/
Rules-Requires-Root: no

Package: td-libvips-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, 
 libexif-dev,
 libexpat1-dev,
 libgif-dev,
 libgif7,
 libglib2.0-dev,
 libgsf-1-dev,
 libjpeg-dev,
 liblcms2-dev,
 libmagickcore-6.q16-dev,
 libpng-dev,
 libpoppler-glib-dev,
 libtiff5-dev,
 libtool,
 libwebp-dev,
 libxml2-dev,
 swig 
Conflicts: libvips42, libvips-dev, libvips-tools
Description: image processing system good for very large ones (dev)
 VIPS is an image processing system designed with efficiency in mind.
 It is good with large images (ones that larger than the amount of RAM in
 your machine), and for working with colour.  It can perform many
 image manipulation tasks much faster than other packages such as
 ImageMagick and the GIMP and includes some special features such as
 creating single "mosaic" images from multiple parts.
 .
 This package includes all development files needed to compile
 applications that use the vips library.

