Source: vips
Section: libs
Priority: optional
Build-Depends: debhelper-compat (= 11), 
 pkg-config, gtk-doc-tools, giflib-tools:native, gobject-introspection:native, bc,
 libexif-dev,
 libexpat1-dev,
 libgif-dev,
 libgif7,
 libglib2.0-dev,
 libgsf-1-dev,
 libjpeg-dev,
 liblcms2-dev,
 libmagickcore-6.q16-dev,
 libpng-dev,
 libpoppler-glib-dev,
 libtiff5-dev,
 libtool,
 libwebp-dev,
 libxml2-dev,
 swig
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Standards-Version: 4.5.1
Homepage: https://libvips.github.io/libvips/
Rules-Requires-Root: no

Package: td-libvips42
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: td-libvips
Conflicts: libvips42
Description: image processing system good for very large ones
 VIPS is an image processing system designed with efficiency in mind.
 It is good with large images (ones that larger than the amount of RAM in
 your machine), and for working with colour.  It can perform many
 image manipulation tasks much faster than other packages such as
 ImageMagick and the GIMP and includes some special features such as
 creating single "mosaic" images from multiple parts.
 .
 VIPS consists of two main components: an image processing library
 with some command-line tools and a spreadsheet-like graphical user
 interface.  The graphical interface is available in the nip2 package.
 .
 This package includes runtime libraries needed to run applications
 linked with the vips library.

Package: td-libvips-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, td-libvips42 (= ${binary:Version}), 
 libexif-dev,
 libexpat1-dev,
 libgif-dev,
 libgif7,
 libglib2.0-dev,
 libgsf-1-dev,
 libjpeg-dev,
 liblcms2-dev,
 libmagickcore-6.q16-dev,
 libpng-dev,
 libpoppler-glib-dev,
 libtiff5-dev,
 libtool,
 libwebp-dev,
 libxml2-dev,
 swig 
Recommends: td-libvips-tools
Conflicts: libvips-dev
Suggests: nip2
Description: image processing system good for very large ones (dev)
 VIPS is an image processing system designed with efficiency in mind.
 It is good with large images (ones that larger than the amount of RAM in
 your machine), and for working with colour.  It can perform many
 image manipulation tasks much faster than other packages such as
 ImageMagick and the GIMP and includes some special features such as
 creating single "mosaic" images from multiple parts.
 .
 VIPS consists of two main components: an image processing library
 with some command-line tools and a spreadsheet-like graphical user
 interface.  The graphical interface is available in the nip2 package.
 .
 This package includes all development files needed to compile
 applications that use the vips library.

Package: td-libvips-tools
Section: graphics
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, python3
Conflicts: libvips-tools
Suggests: td-libvips-dev
Description: image processing system good for very large ones (tools)
 VIPS is an image processing system designed with efficiency in mind.
 It is good with large images (ones that larger than the amount of RAM in
 your machine), and for working with colour.  It can perform many
 image manipulation tasks much faster than other packages such as
 ImageMagick and the GIMP and includes some special features such as
 creating single "mosaic" images from multiple parts.
 .
 VIPS consists of two main components: an image processing library
 with some command-line tools and a spreadsheet-like graphical user
 interface.  The graphical interface is available in the nip2 package.
 .
 This package includes several command-line utilities that make it
 possible to use some vips functionality from shell scripts or the
 command line.

